# Node Modules
client/node_modules/
server/node_modules/

# Environment Files
client/.env
server/.env

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build
client/dist/

# Temp
server/public/temp/

# Coverage
coverage/

# Cache
.cache/